<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="{{ url_for('static', filename='saitamatechno.ico') }}">
    <title>Saitama Techno Cloud</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <h2>Change Password</h2>
    <div>Username: {{ username }}</div>
        <div>We sent you a verification code please check your email (Also check spam section!)</div>
    <div class="form-container">
		
        <form method="post">
            <div>
                <label for="code">Verification Code:</label>
                <input type="text" id="code" name="code" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <label for="verify_password">Verify Password:</label>
                <input type="password" id="verify_password" name="verify_password" required>
            </div>
            <input type="submit" value="Submit">
            <button type="button" onclick="location.href='/login'">Login Page</button>
        </form>
    </div>
    <div>{{ log_msg }}</div>
</body>
</html>
