<!DOCTYPE html>
<html>
<head>
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='saitamatechno.ico') }}">
    <title>Saitama Techno Cloud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='rent_pc.css')}}">
</head>
<body>
    <h1>Rent a Computer</h1>
    <label>If you have a key, it is free for a month!</label>
    <label>Username: {{ username }}</label>
    <div class="form-container">
        <form method="post">
            <div>
                <label for="enter_key">Enter your key:</label>
                <input type="text" id="enter_key" name="enter_key" required>
            </div>
            <div>
                <label for="computer_name">Computer Name:</label>
                <input type="text" id="computer_name" name="computer_name" required>
            </div>
            <div>
                <label for="password">Root Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <label for="verify_password">Verify Root Password:</label>
                <input type="password" id="verify_password" name="verify_password" required>
            </div>
            <input type="submit" name="submit" value="Submit">
            <button type="button" onclick="location.href='/pc_table'">PC Table</button>
        </form>
    </div>
    <label>{{ msg }}</label>
</body>
</html>
